  <blockquote cite="https://www.britishecologicalsociety.org/wp-content/uploads/2017/12/guide-to-reproducible-code.pdf">
    <p>The way we do science is changing - data are getting bigger, analyses are getting more complex, and governments, funding agencies and the scientific method itself demand more transparency and accountability in research. One way to deal with these changes is to make our research more reproducible, especially our code.</p>
    <footer>- British Ecological Society, <cite><a href="https://www.britishecologicalsociety.org/wp-content/uploads/2017/12/guide-to-reproducible-code.pdf">A Guide to Reproducible Code in Ecology and Evolution</a></cite></footer>
</blockquote>

<p>
  Luckily, there is help! <a href="{{site.swc_site}}">Software Carpentry</a>
  aims to help researchers get their work done
  in less time and with less pain
  by teaching them basic research computing skills.
  This hands-on workshop will cover basic concepts and tools,
  including program design, version control, data management,
  and task automation.
  Participants will be encouraged to help one another
  and to apply what they have learned to their own research problems.  
  For more information on what we teach and why,
    please see our paper
    "<a href="http://journals.plos.org/plosbiology/article?id=10.1371/journal.pbio.1001745">Best Practices for Scientific Computing</a>".
</p>


<p>
  This workshop will focus on three essential tools in the modern research toolkit: the Unix Shell, version control with git, and R. We can't cover all of the features of these tools in a two-day workshop, but we will highlight lessons from the Software Carpentry curriculum that will be most helpful for graduate students and other researchers who are looking to gain skills for scientific computing. Please see the syllabus below for more details. 
</p>
