<p id="who">
  <strong>Who:</strong>
  The course is aimed at graduate students and other researchers aiming to strengthen their research computing skills. We will build on several of the tools that are introduced in the UCLA EEB's incoming graduate student Quantitative Bootcamp, but importantly, <strong> you don't need to have any previous knowledge of the tools that will be presented at the workshop.
  </strong>
</p>

<p> If you are unsure of whether this workshop is right for you, please look over the syllabus below and get in touch (gkandlikar@ucla.edu or mcowen@ucla.edu) with any questions. </p>